@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background: #e3e3e3;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    margin-bottom: 58px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #1a1a1a;
    transition: 0.03s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.navBottom {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  box-sizing: border-box;
  margin-top: 45px;
  margin-left: 125px;
  
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: rgb(134, 114, 114);
  font-weight: 400;
}



.slider {
    background: url("/img/tim-mossholder-sxb8StmTfaw-unsplash\ \(1\).jpg");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
  }
  
  .sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
  }
  
  .sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
  }
  
  .sliderImg {
    z-index: 1;
  }
  
  .sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  .sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border: 1px solid gray;
    z-index: 1;
  }

  .buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: black;
    z-index: 1;
    cursor: pointer;
  }
  
  .buyButton:hover {
    background-color: white;
    color: black;
  }
  

  .sliderItem:nth-child(1) .sliderBg {
    background-color: #97ccad;
  }
  .sliderItem:nth-child(2) .sliderBg {
    background-color: rebeccapurple;
  }
  .sliderItem:nth-child(3) .sliderBg {
    background-color: teal;
  }
  .sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
  }
  .sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(124, 115, 80);
  }
  
  .sliderItem:nth-child(1) .sliderPrice {
    color: #369e62;
  }
  .sliderItem:nth-child(2) .sliderPrice {
    color: white;
  }
  .sliderItem:nth-child(3) .sliderPrice {
    color: teal;
  }
  .sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
  }
  .sliderItem:nth-child(5) .sliderPrice {
    color: cornsilk;
  }


  .content {
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
  }
  
  .content::after {
    content: "";
    background-image: url("./img/tim-mossholder-sxb8StmTfaw-unsplash\ \(1\).jpg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
  }
  
  .content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 49px;
    z-index: 1;
  }
  
  .content-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-right img {
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
  }

  .specail{
   padding-left: 445px;
   box-sizing: border-box;
   border-block: 177px;
  }

  footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }

  .backk{
    background-image: url("/img/tim-mossholder-qvWnGmoTbik-unsplash.jpg");
  }